
a{
    text-decoration: none;
}

.bg{
    background-color: rgb(43,87,162);
}

.head{
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid gray;
}
.left{
    margin-left: 20px;
    display: inline-block;
    float: left;
    height: 100%;
}
.left span:nth-child(1){
    color: rgb(149,171,208);
    font-size: 19px;
}
.left span:nth-child(2){
    color: rgb(43,87,162);
    font-size: 24px;
}
.right{
    margin-right: 50px;
    display: inline-block;
    float: right;
    height: 100%;
}
.right a{
    text-decoration: none;
    color: #33a58e;
    cursor:pointer;
}

.right a .head_name>span:hover{
    color: #2b57a2;
}

.right .head_list{
    display: none;

    border:1px solid #dedbdb;
    border-radius:10px 10px 10px 10px;
}
.right .head_list >ul{
    padding-left: 0;
}
.right .head_list >ul>li{
    list-style: none;
    margin-top: 5px;
    color: #2b57a2;
    cursor:pointer;
}


/*中间部分*/
.container {
    position: relative;
    margin-top: 40px;
}
.nav {
    overflow: hidden;
}
.nav-left {
    position: absolute;
    float: left;
    left: 50%;
    transform: translateX(-50%);
}
.nav .nav-left>ul>li {
    display: inline-block;
    margin: 0 50px;
}
.nav ul>li>a {
    text-decoration: none;
    color: #2b57a2;
    font-weight: bold;

}
.nav ul>li>a:hover {
    color: #95abd0;
}

.nav-right{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    height: 69px;
    line-height: 69px;
}

.in{
    height: 40px;
    width: 300px;
    background-color: #eaeef6;
    border: 1px solid #eaeef6;
    border-radius: 34px 0 0 34px;
    float: left;
}
.in:hover{
    border-color: #68696a;
}
.nav-right input{
    outline:none;
}
.btn_in{
    border: none;
    height: 40px;
    width: 70px;
    background-color: #33a58e;
    float: right;
    border-radius: 0 34px 34px 0;
}

.c-box{
    position: absolute;
    top: 250px;
    height: 500px;
    width: 500px;
    left: 50%;
    background-color: #eaeef6;
    transform: translateX(-50%);
}
.c-box h3{
    text-align: center;
}
.c-box label{
    display: inline-block;
    width: 100px;
    height: 22px;
}
.c-box li{
    list-style: none;
    margin-top: 5px;
}
.c-box input{
    height: 30px;
    width: 300px;
    border: 1px solid aliceblue;
    outline: #b2aeae;
}
.c-box input:hover{
    border: 1px solid #b2aeae;
}
.c-box a{
    text-decoration: none;
}
.btn-group button{
    display: block;
    width: 400px;
    height: 30px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #68696a;
}
.c-box .login{
    display: block;
    text-align: center;
    font-size: 18px;
    width: 400px;
    height: 30px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #68696a;
    background-color: #2b57a2;
}

/*底部*/
.footer{
    position: relative;
    top: 800px;
    border-top: 1px solid gray;
}
.footer li{
    list-style: none;
    margin-top: 15px;

}
.footer li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(51,165,142);
}
.footer address a{
    margin-left: 40px;
    color: rgb(51,165,142);
}
.footer h2,h3,h4{
    margin-left: 40px;
    color: #2b57a2;
}
.footer .left{
    float: left;
    width: 33%;
    height: 400px;
    /*background-color: pink;*/
}
.footer .mid{
    float: left;
    width: 33%;
    height: 400px;
    /*background-color: red;*/
}
.footer .mid .mid-left{
    float: left;
    width: 40%;
}
.footer .mid .mid-right{
    float: left;
    width: 40%;
}
.footer .right{
    float: left;
    width: 30%;
    height: 400px;
    /*background-color: #2b57a2;*/
}
.left .p{
    margin-left: 40px;
    color: rgb(149,171,208);
}
.footer .bottom{
    margin-left: 40px;
    height: 50px;
    line-height: 50px;
    color: rgb(51,165,142);
}



/*登录部分样式*/
.log-box{
    position: absolute;
    top: 250px;
    height: 300px;
    width: 500px;
    left: 50%;
    background-color: #eaeef6;
    transform: translateX(-50%);
}
.log-box h3{
    text-align: center;
}
.log-box label{
    display: inline-block;
    width: 100px;
    height: 22px;
}
.log-box li{
    list-style: none;
    margin-top: 5px;
}
.log-box input{
    height: 30px;
    width: 300px;
    border: 1px solid aliceblue;
    outline: none;
}
.log-box input:hover{
    border: 1px solid #b2aeae;
}
.log-box a{
    text-decoration: none;
}
.log-box .btn-group .log{
    display: block;
    width: 400px;
    height: 30px;
    font-size: 1em;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #68696a;
}
.log-box .register{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    width: 400px;
    height: 30px;
    color: black;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #68696a;
    background-color: #2b57a2;
}

