<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tyhmeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:${title}>商品</title>
  <link rel="stylesheet" th:href="@{/css/product.css}">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_2579490_336jdxpwnds.css">
  <script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>
</head>
<body>
<div class="body">
  <div class="head">
    <div class="left">
      <span>致电我们：</span>
      <span><b>+86 12345677</b></span>
    </div>
    <div class="right">
      <a th:href="@{/caigou/user/login}" th:if="${session.loginUser}==null">登录</a>
      <a th:href="@{/caigou/user/register}" th:if="${session.loginUser}==null">注册</a>

      <a th:href="@{/caigou/user/pCommodity}" style="float: left;height:40px;"id="head_name"  th:if="${session.loginUser}!=null">
        <div style="height: 35px" class="head_name" >
          <img th:src="${session.userImage}" style="width: 35px;height: 35px;float: left;  border-radius: 50%;">
          <span style="display: inline-block;
             vertical-align: middle;
             line-height: 34px;padding-left: 5px " th:text="${session.userName}">潘登登</span></div>
      </a>

      <a th:href="@{/caigou/cart/myCart}" style="padding-left: 20px"  th:if="${session.loginUser}!=null"><img src="https://caigoufun.oss-cn-qingdao.aliyuncs.com/default/cat.png" style="width: 35px;height: 35px"></a>

      <div
              id="head_list"
              class="head_list"
              style="  position:fixed;
          z-index: 99;
          opacity:0.9;
          width:100px;
          height:120px;
          background-color: white;
          text-align: center">
        <ul>
          <li><a th:href="@{/caigou/user/pCommodity}">个人中心</a></li>
          <li><a th:href="@{/caigou/commodity/release}">发布商品</a></li>
          <li><a th:href="@{/caigou/user/logout}">退出登录</a></li>
        </ul>
      </div>





    </div>
  </div>
  <div class="container">
    <div class="nav">
      <div class="nav-logo">
        <a th:href=@{/caigou/index}>
          <img src="/img/logo.png">
        </a>
      </div>
      <div class="nav-left">
        <ul>
          <li><a th:href=@{/caigou/index}>首页</a></li>
          <li><a th:href=@{/caigou/mall}>商城</a></li>
          <li><a th:href=@{/caigou/about}>关于</a></li>
          <li><a th:href=@{/caigou/contact}>联系</a></li>
        </ul>
      </div>
      <div class="nav-right">
        <form th:action="@{/caigou/search}" method="get">
          <div>
            <input class="in" type="search" name="keyword" th:value="${keyword}" placeholder="输入搜索的商品">
            <button class="btn_in" type="submit">搜索</button>
          </div>
        </form>
      </div>
    </div>
<!--商品图片-->
    <div class="product-images">
      <div class="main_image">
        <img  th:src="${main_img}"  id="img">
        <input type="text" id="word" style="background: transparent;border: none;color: transparent">
      </div>
      <div class="thumbnails">
        <ul>
          <li th:each="maps:${picture}">
            <a href="#">
              <img
                onclick="getPath(this)"
                th:src="${maps.image}"
                src="/img/product_1.png">
            </a>
          </li>
        </ul>

      </div>
    </div>
<!--商品介绍-->
    <div class="product_introduction" th:object="${commodity}">
      <div class="product_title">
        <h1 itemprop="name" class="entry-title" th:text="*{comName}">
          绵柔巾一次性洗脸巾清洁卫生卸妆多用大包家庭装绵柔巾一次性洗脸巾清洁卫生卸妆多用大包家庭装绵柔巾一次性洗脸巾清洁卫生卸妆多用大包家庭装绵柔巾一次性洗脸巾清洁卫生卸妆多用大包家庭装绵柔巾一次性洗脸巾清洁卫生卸妆多用大包家庭装绵柔巾一次性洗脸巾清洁卫生卸妆多用大包家庭装绵柔巾一次性洗脸巾清洁卫生卸妆多用大包家庭装绵柔巾一次性洗脸巾清洁卫生卸妆多用大包家庭装</h1>
      </div>
      <div style="margin-top:20px;width: 10%;height: 4px;background-color: #2b57a2"></div>
      <div class="product_describe">
          <span th:text="*{comInfo}">这里写产品描述这里写产品描述这里写产品描述这里写产品描述这里写产品描述这里写产品描述这里写产品描述这里写产品描述这里写产品描述这里写产品描述这里写产品描述这里写产品描述这里写产品描
            述这里写产品描述这里写产品描述这里写产品描述这里写产品描述这里写产品描述这里写产品描述这里写产品描述这里写产品描述这里写产品描述
          这里写产品描述这里写产品描述这里写产品描述这里写产品描述这里写产品描述这里写产品描述</span>
      </div>
      <div class="product_price"><span th:text="*{comPrice}">￥16</span></div>
      <div class="add_cart">
        <a th:href="@{|/caigou/cart/addToCart?comId=*{comId}|}">
          <input type="submit" id="sub" class="add_to_cart_button" value="加入购物车">
        </a>

<!--        <button type="submit"-->
<!--                name="ajaxaddcart"-->
<!--                class="add_to_cart_button"-->
<!--                form="forId"-->
<!--                onclick="cart_submit(this,event);return false;">加入购物车-->
<!--        </button>-->
        </form>
      </div>
      <div class="share_product">
            <div class="img1">
              <img src="/img/share.png">
            </div>
        <br>

            <div class="share_type" >
              <ul>
                <li>
                  <button id="sub1" >通过链接分享</button>
              </li>
                <br>
                <li>

                    <button>生成二维码并分享</button>
           </li>
              </ul>
            </div>


      </div>
      <div class="contact_seller" >

        <span th:text="${phone}">12345678910</span>
        <span>联系卖家：</span>
      </div>
      <div class="star">
        <span style="float: left">卖家星级：</span>
        <ul style="float:left">
          <li class="iconfont icon-xingxing" style="float:left" th:each="maps:${suibian}"></li>

        </ul>

      </div>
    </div>

    <!--    弹框-->
    <div class="bounced" id="bounced">
      <img src="https://caigoufun.oss-cn-qingdao.aliyuncs.com/default/addcat.png" style="width: 100%;height: 100%">
    </div>
    <div class="bounced1" id="bounced1">
      <span >
        <b>已复制到粘贴板，请到转到其他设备分享</b>
      </span>
    </div>

<!--用户互动-->
    <div class="interactive">
      <div class="interactive_title">
      <div class="leave_word_title"  id="leave_word_title">
        <span>客户留言</span>
        </div>
      <div class="comments_title" id="comments_title">
        <span>买家评论</span>
      </div>

      </div>
      <div id="leave_word">
        <ul>
          <li >
            <div class="interactive_head_portrait">
              <img src="/img/touxiang.png">
            </div>
              <div class="interactive_text_box">
                <textarea rows="4" cols="100" name="leave_word"></textarea>
              </div>
            <div class="interactive_release">
              <input type="submit" name="release" value="发布留言">
            </div>
          </li>
          <li>
            <div class="interactive_head_portrait">
              <img src="/img/touxiang.png">
            </div>
            <div class="interactive_content">
              <span>
                <i>目前还未有留言</i>
              </span>
            </div>
            <div class="interactive_delete">
              <a href="#">删除</a>
            </div>

          </li>
        </ul>
      </div>
      <div id="comments">
        <ul>
          <li >
            <div class="interactive_head_portrait">
              <img src="/img/touxiang.png">
            </div>
            <div class="interactive_text_box">
              <textarea rows="4" cols="100"></textarea>
            </div>
            <div class="interactive_release">
              <input type="submit" name="release" value="发布评论">
            </div>
          </li>
          <li>
            <div class="interactive_head_portrait">
              <img src="/img/touxiang.png">
            </div>
            <div class="interactive_content">
              <span>
                 <i>目前还未有评论</i>
              </span>
            </div>
            <div class="interactive_delete">
              <a href="#">删除</a>
            </div>



          </li>
      </ul>
      </div>
    </div>

  </div>


  <footer class="footer">
    <div class="left">
      <a href="#">
        <h2>联系我们</h2>
      </a>
      <address><a href="#">hdfkshdhfjk@email.com</a></address>
      <a href="#">
        <h2>+86 1231231231</h2>
        <p class="p">(24小时咨询，全年无休)</p>
      </a>

    </div>
    <div class="mid">
      <div class="mid-left">
        <h3>公司简介</h3>
        <ul>
          <li><a href="#">关于我们</a></li>
          <li><a href="#">产品</a></li>
          <li><a href="#">联系人</a></li>
          <li><a href="#">合作伙伴</a></li>
          <li><a href="#">咨询</a></li>
        </ul>
      </div>
      <div class="mid-right">
        <h3><strong>社交</strong></h3>
        <ul>
          <li><a href="#">微信</a></li>
          <li><a href="#">微博</a></li>
          <li><a href="#">邮箱</a></li>
        </ul>
      </div>
    </div>
    <div class="right">

    </div>
  </footer>
  <div class="bottom">
    <p>版权归菜汪茂所有，侵权必究</p>
  </div>
</div>
<script th:src="@{/js/product.js}">
</script>
</body>
</html>
